/*****GENERAL*****/

:root {
    --color1: #7b002c;
    --color2: #BD8087;
    --color3: #FFF5F6;
    --color4: #EAD3C1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--color4);
    height: 100vh;
    max-height: 100vh;
    color: var(--color3);
}


/*****HEADER*****/

nav {
    width: 100%;
    height: 100px;
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
}

#logo {
    display: flex;
    align-items: center;
}

#img_bg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color4);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sposi_img {
    height: 40px;
}

#nomi p {
    font-family: "The Nautigal", cursive;
    font-size: 20px;
    color: var(--color4);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 48;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 0 15px;
    transition: .2s;
}

nav ul li:hover {
    color: var(--color2);
    cursor: pointer;
    font-size: 18px;
}

.active {
    color: var(--color2);
    font-size: 18px;
}


/*****CONTENT*****/

.container {
    width: 100%;
    height: 100vh;
}


/*****HOME*****/

#home {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: var(--color1);
    font-size: 60px;
    margin: 30px;
}


/*****CI SARAI*****/

#ci_sarai {
    width: 500px;
    height: 850px;
    margin-top: 80px;
    margin-left: 50px;
    background-color: var(--color1);
    border-radius: 20px;
    color: var(--color4);
}

#msg {
    font-size: 26px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 30px;
    justify-content: space-between;
}

.format {
    margin-top: 5px;
}

.input {
    margin-top: 10px;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border-width: 0;
    padding: 8px;
}

#allergie {
    width: 100%;
}

input[name=allergie] {
    width: 100%;
}

#notte {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

input[name=notte] {
    width: 100%;
}

.layout {
    height: 100%;
    width: 100%;
}

#messaggio {
    width: 100%;
}

input[name="messaggio"] {
    width: 100%;
}

#invio {
    flex-basis: 100%;
    text-align: center;
}

#button {
    width: 240px;
    height: 40px;
    background-color: var(--color4);
    border-radius: 20px;
    border-width: 0;
    color: var(--color1)
}

#button:hover {
    cursor: pointer;
    background-color: var(--color1);
    border: 2px #EAD3C1 solid;
    color: var(--color4);
}

#button:active {
    color: var(--color4);
    border-width: 3px;
    font-size: 14px;
}

#redirect {
    visibility: hidden;
    position: absolute;
    border: none;
    width: 0;
    height: 0;
}

#thanks {
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#thanks p {
    font-family: "The Nautigal", cursive;
    font-size: 140px;
    color: var(--color1);
}


/*****FOOTER*****/

#footer {
    background-color: var(--color1);
    color: var(--color3);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*****SWITCH*****/

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 30px;
    margin-top: 10px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: var(--color3);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #bada55;
    /* border: 2px #EAD3C1 solid; */
}

input:focus+.slider {
    box-shadow: 0 0 1px #7b002c;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}


/*****SPINNER*****/

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: var(--color4);
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: var(--color4);
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}